section.container

	header.masthead.flex

		.container.flex

			.links.flex

				a(href="#") about
				a(href="#") event
				a(href="#") contact

			.space

			a(href="/")
			
				img(src="/assets/img/logo-white.svg")

			.links.flex

				a(href="#") team
				a(href="#") blog
				a(href="#") alumni

		//- h1 
			
			span.codeLight Project
			
			span.codeBold Beta