@require "../imports/base.styl"

section.container
	overflow-x hidden

section.main
	height 100%
	margin-left 250px
	overflow-y scroll
	overflow-x hidden
	align-items flex-start
	-webkit-overflow-scrolling touch

	.container
		max-width 800px
		width 90%
		height auto
		flex-direction column

	p
		font-size 16px
		line-height 24px
		margin 0 0 60px 0
		letter-spacing .5px
	
	img
		width 30%
		margin 60px 0

	&.light
		background #f6f6f6

		p
			color #111

	&.dark
		background #272b2f

		p
			color #bbb

@import "../imports/media-queries/*"