@require "../imports/base.styl"

section.container
	overflow-x hidden

	section.main
		height 100%
		margin-left 250px
		overflow-y scroll
		overflow-x hidden
		background #ddd
		align-items flex-start
		-webkit-overflow-scrolling touch

		.container
			max-width 800px
			width 90%
			height auto

@import "../imports/media-queries/*"