section.main

	.container

		h1 Alumni

		.hr

		.batch

			h2.year 2017

			p.member

				span.position President

				span.name &nbsp;Karan Singh Lobana

			p.member

				span.position Vice President

				span.name &nbsp;Ayushman Jain

		.batch
			
			h2.year 2016

			p.member

				span.position President

				span.name &nbsp;Akshat Pratap Singh

			p.member

				span.position Vice President

				span.name &nbsp;Sammad Grover

		.batch
			
			h2.year 2015

			p.member

				span.position President

				span.name &nbsp;Siddhartha Jain

		.batch
			
			h2.year 2013

			p.member

				span.position President

				span.name &nbsp;Harsh Dev Gupta

