section.welcome

	div.top

		a(href="/alumni.html") alumni

		.down

			h1

				code.light PROJECT

				code.bold BETA
			
			h2 it club &mdash; sanskriti school

	hr

	div.bottom

		h2 Q29taW5nIFNvb24uIDIwMTgu