meta(charset="utf-8")
meta(lang="en")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(rel="canonical", href="https://projectbeta.tech/")
meta(name="description", content="ProjectBeta | Coming Soon, 2018.")

link(rel="icon", href="/assets/img/favicon.ico")
link(rel="stylesheet", type="text/css", href="/css/assets/general.css")
link(rel="stylesheet", type="text/css", href="/css/assets/typography.css")