title(ng-bind="$state.current.data.pageTitle") ProjectBeta 2018

base(href="/")

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(rel="canonical", href="https://projectbeta.tech/")
meta(name="description", content="ProjectBeta | Coming Soon, 2018.")

meta(property="og:type", content="website")
meta(property="og:title", content="ProjectBeta")
meta(property="og:url", content="https://projectbeta.tech")
meta(property="og:locale", content="en_IN")
meta(property="og:image", content="")
meta(property="og:description", content="ProjectBeta | Coming Soon, 2018.")

meta(name="twitter:card", content="website")
meta(name="twitter:title", content="ProjectBeta")
meta(name="twitter:site", content="https://projectbeta.tech")
meta(name="twitter:image", content="")
meta(name="twitter:description", content="ProjectBeta | Coming Soon, 2018.")

link(rel="icon", href="/assets/img/favicon.ico")
link(rel="stylesheet" href="/assets/css/index.css")
link(rel="stylesheet" href="/assets/css/typography.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Ubuntu+Mono:300|Hind+Guntur:300,400,500")
link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css')

script(src="/assets/js/scripts.js" defer)
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
script(src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js")
script(src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')