title(ng-bind="$state.current.data.pageTitle") ProjectBeta 2018

base(href="/")

meta(charset="utf-8")
meta(lang="en")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(rel="canonical" href="https://projectbeta.tech/")
meta(name="description" content="ProjectBeta | 18th August, 2018. ProjectBeta is the IT club of Sanskriti School.")

meta(property="og:type" content="website")
meta(property="og:title" content="ProjectBeta 2018")
meta(property="og:url" content="https://projectbeta.tech")
meta(property="og:locale" content="en_IN")
meta(property="og:image" content="/assets/img/logo-black.svg")
meta(property="og:description" content="ProjectBeta | 18th August, 2018. ProjectBeta is the IT club of Sanskriti School.")

meta(name="twitter:card" content="website")
meta(name="twitter:title" content="ProjectBeta 2018")
meta(name="twitter:site" content="https://projectbeta.tech")
meta(name="twitter:image" content="/assets/img/logo-black.svg")
meta(name="twitter:description" content="ProjectBeta | 18th August, 2018. ProjectBeta is the IT club of Sanskriti School.")

link(rel="icon" href="/assets/img/favicon.ico")
link(rel="stylesheet" href="/assets/css/index.css")
link(rel="stylesheet" href="/assets/css/typography.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Ubuntu+Mono:300")

//- Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-86157079-5')
script.
	window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-86157079-5');

script(src="/assets/js/angular.js")
script(src="/assets/js/particles.js")
script(src="/assets/js/scripts.js" defer)