@charset "utf-8"

html, body, :root
	width 100%
	height 100%
	background #fff
	font-family 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri	
	font-size 16px

@import "variables"
@import "universal"
@import "sidebar"