@media only screen and (max-width: 1000px)
    
    section.main
    
        h1.title
            font-size 40px

        .info
            flex-direction column
            
            .about, .contact
                width 100%
                margin 30px 0
            
            .contact

                p:last-child
                    margin-bottom 0

@media only screen and (max-width: 800px)

    html
        max-width 800px

@media only screen and (max-width: 400px)

    section.main
        
        img
            width 125px

        h1.title
            font-size 35px

            span.version
                font-size 75%
        
        h2.dates
            span
                font-size 30px