section.main
	&.light
		background #f6f6f6
		img.white
			display none
		img.black
			display block
		p
			color #111
		h1
			color #222
			span.version
				color #666
		h2.dates
			span
				border-color #d6d6d6
		.hr
			background #ccc
		.info
			.info-block
				h1
					color #444
					border-color #bbb
				h2
					color #444
				p
					color #222
		.ui-state
			h1
				border-color #bbb
			.section
				background #eee
				border-color #c6c6c6
			h2
				color #444
			p
				color #111
		a:hover
			color #000
		#contact
			form
				h3
					color #333
				input, textarea
					border-color #ccc
					background #fff
					color #222
		#alumni
			span.position
				color #555
			span.name
				color #222
		#team
			.section
				img
					border-color #c6c6c6
				h2
					color #222
		#event-block-date
			color  #333

	&.dark
		background #000
		img.white
			display block
		img.black
			display none
		p
			color #eee
		h1.title
			color white
		h1
			color #ddd
			span.version
				color #909090
		h2.dates
			span
				border-color #666
		.hr
			background #33393e
		.info
			.info-block
				h1
					color #ddd
					border-color #555
				h2, p
					color #eee
		.ui-state
			h1
				border-color #666
			.section
				background #141619
				border-color #666
			h2
				color #bbb
			p
				color #ccc
		a:hover
			color #fff
		#contact
			form
				h3
					color #bbb
				input, textarea
					border-color #444
					background #2b2d2e
					color #222
				input[type="submit"]
					color #bbb
		#alumni
			span.position
				color #888
			span.name
				color #ddd
		#team
			.section
				img
					border-color #333
				h2
					color #ccc
		#event-block-date
			color  #aaa