::selection
    color: #fff; 
    background #ff6b3d


*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	text-rendering optimizeLegibility


*.flex
	display flex
	align-items center
	justify-content center

*.noselect
	user-select none

*.container
	width 100%
	height 100%

a
	
	&:link, &:visited, &:hover, &:visited:hover, &:focus
		text-decoration none