::selection
    color #fff
    background #ff6b3d


*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	text-rendering optimizeLegibility

*.flex
	display flex
	align-items center
	justify-content center

*.noselect
	user-select none

*.nodisplay
	display none

*.container
	width 100%
	height 100%

span.project
	font-family codeLight
	font-weight 100

span.beta
	font-family codeBold
	font-weight 100

a:focus
	border 3px solid #d66d4d !important
	outline none

img
	user-drag none
	-webkit-user-drag none
	user-select none

//Colors
*.yellow
	color yellow
*.blue
	color blue
*.green
	color green
*.red
	color red
*.white
	color white