codeLight = "Code Light", sans-serif
codeBold = "Code Bold", sans-serif

// Colors:
darkBlueGrey = #1e2125
yellow = #eddc96
green = #a3eea0
red = #f8867a
blue = #80baf9
white = #ddd
orange = #d66d4d