codeLight = "Code Light", sans-serif
codeBold = "Code Bold", sans-serif
anonymousPro = "Anonymous Pro", "Consolas", monospace

blueGrey = #323c46
silver = #bec3c8


gradient1 = linear-gradient(150deg, #ff6b3d, #FF8A65 50%, #FFCCBC)
gradient2 = linear-gradient(150deg, #3b3e42, #ff8059)