#alumni.ui-state.container

	h1 Alumni

	.hr

	.section

		h2 2017

		p

			span.position President
			span.name Karan Singh Lobana

		p

			span.position Vice President
			span.name Ayushman Jain

		p

			span.position Vice President
			span.name Pranav Bhatt

	.section
		
		h2 2016

		p

			span.position President
			span.name Akshat Pratap Singh

		p

			span.position Vice President
			span.name Sammad Grover

	.section
		
		h2 2015

		p

			span.position President
			span.name Siddhartha Jain

		p

			span.position Vice President
			span.name Kaustubh Lall

	.section
		
		h2 2014

		p

			span.position President
			span.name Abhinav Kapur

	.section
		
		h2 2013

		p

			span.position President
			span.name Harsh Dev Gupta

a(ui-sref="home") ↤ Home