img.black(src="/assets/img/logo-white.svg")

h1.title
	span.project Project
	span.beta Beta

h2.dates(title="August 18, 2018")
	span 18
	span 08
	span 18

.info.flex

	#event-block.info-block

		h1 Event
		p ProjectBeta is back and ready to host the second edition of its eponymous tournament: ProjectBeta 2.0.
		p Mark the date on your calendar: <span title="See you soon!" style="text-transform:uppercase;font-size:15px;border-bottom:1px solid #666;padding-bottom:3px;white-space:nowrap;color:#ccc;">August 18, 2018</span>.
		p Be there.

	#contact-block.info-block

		h1 Contact
		p Want to send an email? Call? Mail a letter? Or simply fill a form? Go to the <a ui-sref="contact">Contact</a> page!

	#about-block.info-block

		h1 About
		p ProjectBeta is the IT club of <a href="http://sanskritischool.edu.in" target="_blank">Sanskriti School</a>.
		p Taking its humble roots as a small group of talented individuals in 2013, ProjectBeta has since matured into a diverse team who have worked in tandem to inspire, organise and lead countless events and competitions to success.
		p Constituting 40+ incredibly talented members the club has represented the school in various competitions and has grown to become one of the foremost clubs of its kind in New Delhi.