img.black(src="/assets/img/logo-black.svg")
img.white(src="/assets/img/logo-white.svg")

h1.title
    span.project Project
    span.beta Beta
    span.version 2.0

h2.dates(title="August 18, 2018")
    span 18
    span 08
    span 18

.info.flex

    .about

        h1 About

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        a(ui-sref="history").red History
        span.seperator &bull;
        a(ui-sref="team").red Team
        span.seperator &bull;
        a(ui-sref="alumni").red Alumni

    .contact

        h1 Contact

        h2 Email

        a(href="mailto:contact@projectbeta.tech").contact.blue contact@projectbeta.tech
        a(href="mailto:president@projectbeta.tech").contact.blue president@projectbeta.tech
        a(href="mailto:faculty@projectbeta.tech").contact.blue faculty@projectbeta.tech

        h2 Phone

        a(href="tel:+917042201997").contact Arya Nagar, President: +91 7042201997
        a(href="tel:+919205915422").contact Mehul Agarwal, Vice President: +91 9205915422
        a(href="tel:+911234563545").contact Mrs. Anuja Mittal, Faculty-in-charge: +91 1234563545

        h2 Address

        p
            | Sanskriti School,
            br
            | Dr. S. Radhakrishnan Marg,
            br
            | Chanakyapuri,
            br
            | New Delhi, Delhi 110021