img.black(src="/assets/img/logo-black.svg")
img.white(src="/assets/img/logo-white.svg")

h1.title
	span.project Project
	span.beta Beta
	span.version 2.0

h2.dates(title="August 18, 2018")
	span 18
	span 08
	span 18

.info.flex

	.about

		h1 About

		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	.contact

		h1 Contact

		h2 Email

		a(href="mailto:contact@projectbeta.tech").email.blue contact@projectbeta.tech
		a(href="mailto:president@projectbeta.tech").email.blue president@projectbeta.tech
		a(href="mailto:faculty@projectbeta.tech").email.blue faculty@projectbeta.tech

		h2 Phone

		p
			| Arya Nagar, President:
			a(href="tel:+917042201997").phone +91 7042201997
		p
			| Mehul Agarwal, Vice President:
			a(href="tel:+919205915422").phone +91 9205915422
		p
			| Mrs. Anuja Mittal, Faculty-in-charge:
			a(href="tel:+911234563545").phone +91 1234563545

		h2 Address

		p
			| Sanskriti School,
			br
			| Dr. S. Radhakrishnan Marg,
			br
			| Chanakyapuri,
			br
			| New Delhi, Delhi 110021