#team.ui-state.container

	h1 team

	.gallery.container.flex

		.section

			img(src="/assets/img/profiles/1.jpg")
			h2 Arya Nagar
			h3 President

		.section

			img(src="/assets/img/profiles/1.jpg")
			h2 Mehul Agarwal
			h3 Vice President

		.section

			img(src="/assets/img/profiles/1.jpg")
			h2 Pranav Bhatnagar
			h3 Head of Programming

		.section

			img(src="/assets/img/profiles/1.jpg")
			h2 Mihir Chaturvedi
			h3 Head of Web Development

	a(ui-sref="home") ↤ Home