@require "imports/base.styl"

section.main
	width 100%
	height 100%
	font-family anonymous-pro

	div.container
		height 100%
		max-width 1000px
		width 90%
		margin 0 auto

		h1
			color limed-spruce
			font-size 250%
			text-align center
			padding 60px

		div.hr
			width 100%
			height 2px
			background silver-sand

		div.batch
			margin 50px 0 50px 20px

			h2.year
				color limed-spruce
				font-size 150%
				margin 20px 0
				border-bottom 1px solid
				display inline-block
			
			p.member
				padding 10px 0 10px 1vw

				span.position
					font-weight bold


		