@require "imports/base.styl"

section.container
	overflow-x hidden

section.main
	height 100%
	margin-left 250px
	overflow-y auto
	overflow-x hidden
	align-items flex-start
	-webkit-overflow-scrolling touch

	> .container
		max-width 1000px
		width 90%
		min-height 100vh
		flex-direction column
		height auto
		justify-content flex-start

		>.container
			margin 5vh 0

		> h1
			font-size 60px
			margin 4vh 0 0 0

			span.version
				font-size 45px
				font-family "Ubuntu Mono", 'Courier New', Courier, monospace

	p
		font-size 16px
		line-height 24px
		letter-spacing .5px
	
	img
		width 150px
		margin 4vh 0 0 0		

	h1
		font-size 5em
		font-weight 100
	
	h2.dates
		color #d66d4d
		margin 4vh 0 0 0
		text-transform uppercase
		font-size 23px
		font-weight 100
		font-family "Ubuntu Mono", 'Courier New', Courier, monospace

		span
			font-size 150%
			padding 0 10px

			&:nth-child(2)
				border-right 2px solid
				border-left 2px solid

	.hr
		height 0px
		width 100%
		margin 4vh 0
	
	.info
		width 100%
		height auto
		justify-content space-between
		align-items flex-start
		margin-top 6vh

		.about, .contact
			width 45%

			h1
				font-size 27px
				font-weight 500
				padding-bottom 5px
				display inline-block
			
			h2
				margin 20px 0 10px 0
				font-size 17px
				font-weight bold
				text-transform uppercase
				border-bottom 1px solid
				padding 0 0 6px 0
			
			p
				padding 10px 0 20px 0
			
			a
				padding-bottom 3px
				border-bottom 1px solid
				text-decoration none
				color #d66d4d

				&.email, &.phone
					margin 5px 0
					border none
					white-space nowrap
				
				&.email
					display block
				
				&.phone
					padding-left 10px
		
		.contact

			p
				padding 0

	&.light
		background linear-gradient(169deg, #f6f6f6 50%, #fff 50%)

		img.white
			display none
		
		img.black
			display block

		p
			color #111
		
		h1
			color #222

			span.version
				color #666
		
		h2.dates

			span
				border-color #d6d6d6
		
		.hr
			background #ccc
		
		.info

			.about, .contact

				h1
					color #333
				
				h2
					border-color #ddd
					color #444

				p
					color #222
				
				a:hover
					color #000

	&.dark
		background linear-gradient(169deg,#1f2225 50%,#272b2f 50%)

		img.white
			display block
		
		img.black
			display none

		p
			color #eee
		
		h1
			color #ddd

			span.version
				color #909090
		
		h2.dates

			span
				border-color #444
		
		.hr
			background #33393e
		
		.info

			.about, .contact

				h1
					color #ddd
				
				h2
					border-color #333

				h2, p
					color #bbb
				
				a:hover
					color #fff

@import "imports/pages/*"
@import "imports/media-queries"