@require "imports/base.styl"

section.container
	overflow-x hidden

section.main
	height 100%
	margin-left 250px
	overflow-y auto
	overflow-x hidden
	align-items flex-start
	-webkit-overflow-scrolling touch

	.container
		max-width 1000px
		width 90%
		min-height 100vh
		flex-direction column
		height auto

	p
		font-size 16px
		line-height 24px
		letter-spacing .5px
	
	img
		width 150px
		margin 4vh 0 0 0		

	h1
		font-size 60px
		margin 4vh 0 0 0

		span.version
			font-size 45px
			font-family "Ubuntu Mono", 'Courier New', Courier, monospace
	
	h2.dates
		color #d66d4d
		margin 4vh 0 0 0
		text-transform uppercase
		font-size 23px
		font-weight 100
		font-family "Ubuntu Mono", 'Courier New', Courier, monospace

		span
			font-size 150%
			padding 0 10px

			&:nth-child(2)
				border-right 2px solid
				border-left 2px solid

	.hr
		height 0px
		width 100%
		margin 4vh 0
	
	.info
		width 100%
		height auto
		justify-content space-between
		align-items flex-start

		.about, .contact
			width 45%

			h1
				font-size 27px
				font-weight bold
				padding-bottom 5px
				display inline-block
			
			h2
				margin 20px 0 10px 0
				font-size 17px
				font-weight bold
				text-transform uppercase
				padding 2px 0 2px 5px
			
			p
				padding 10px 0 20px 0
			
			a
				padding-bottom 3px
				border-bottom 1px solid
				text-decoration none
				color #d66d4d

				&.contact
					display table
					margin 5px 0
					border none
					width 100%

			.seperator
				padding 0 15px
				user-select none
		
		.contact

			p
				padding 0

	&.light
		background linear-gradient(169deg, #f6f6f6 50%, #fff 50%)

		img.white
			display none
		
		img.black
			display block

		p
			color #111
		
		h1
			color #000

			span.version
				color #666
		
		h2.dates

			span
				border-color #d6d6d6
		
		.hr
			background #ccc
		
		.info

			.about, .contact

				h1
					color #111
				
				h2
					background #ddd

				h2, p
					color #222
				
				a:hover
					color #000

				.seperator
					color #bbb

	&.dark
		background #272b2f

		img.white
			display block
		
		img.black
			display none

		p
			color #eee
		
		h1
			color #fff

			span.version
				color #909090
		
		h2.dates

			span
				border-color #444
		
		.hr
			background #33393e
		
		.info

			.about, .contact

				h1
					color #ddd
				
				h2
					background #fff1

				h2, p
					color #bbb
				
				a:hover
					color #fff

				.seperator
					color #666

@import "imports/pages/alumni"
@import "imports/pages/contact"
@import "imports/pages/history"
@import "imports/pages/team"

@import "imports/media-queries"