@require "imports/base.styl"

section.container
	overflow-x hidden

section.main
	height 100%
	margin-left 250px
	overflow-y auto
	overflow-x hidden
	align-items flex-start
	transition 0.05s all ease-out
	background linear-gradient(150deg, #141e30, #243b55)

	canvas
		position fixed
		opacity 0.5

	#ui-view
		max-width 1000px
		width 90%
		min-height 100vh
		flex-direction column
		height auto
		align-self flex-start

		>.container
			margin 5vh 0
		
		> img
			width 150px
			margin 4vh 0 0 0

		> h1
			font-size 60px
			margin 4vh 0 0 0
			color #fff

		.ui-state
			
			h1
				font-size 35px
				font-weight 100
				padding-bottom 10px
				border-bottom 1px solid #bbb
				text-align center
				text-transform uppercase
				margin-bottom 4vh
				color #d66d4d
			
			> p
				margin 0 0 20px 0

			.section
				margin-bottom 20px
				padding 15px
				border 1px solid #000
				border-radius 6px
				background #00000499

				h2
					font-size 21px
					padding 0 0 6px 0
					font-weight 300
					text-transform uppercase
					color #aaa
		
		> a
			margin-bottom 30px

	p
		font-size 17px
		line-height 24px
		letter-spacing .5px
		color #ccc

	a
		padding-bottom 3px
		text-decoration none
		color #ccc

		&::after
			content ''
			width 100%
			height 3px
			background #d66d4d
			position absolute
			transform translate3d(-100%, 19px, 0)
			margin-top 1px
		
		&:hover
			color #d66d4d

	h2.dates
		color #d66d4d
		margin 4vh 0 0 0
		text-transform uppercase
		font-size 27px
		font-weight bold
		font-family "Ubuntu Mono", 'Courier New', Courier, monospace

		span
			font-size 150%
			padding 0 10px

			&:nth-child(2)
				border-right 2px solid #ccc
				border-left 2px solid #ccc 

	.hr
		height 0px
		width 100%
		margin 4vh 0
	
	.info
		width 100%
		height auto
		align-items flex-start
		margin-top 60px
		flex-wrap wrap
		flex-direction column
		max-height 550px
		justify-content flex-start

		.info-block
			width 45%
			padding 3vh 0

			h1
				font-size 27px
				font-weight 500
				padding-bottom 5px
				border-bottom 1px solid #777
				color #ddd
			
			h2
				margin 30px 0 0 0
				font-size 17px
				font-weight bold
				text-transform uppercase
				padding 0 0 6px 0
			
			p
				padding 20px 0 0 0
				color #eee

			#about-block
				padding-bottom 20px	
	
@import "imports/pages/*"
@import "imports/media-queries"