@charset "utf-8"

html, body, :root
	width 100%
	height 100%
	background white

*
	padding 0
	margin 0
	position relative
	box-sizing border-box
	transition 0.4s ease
	text-rendering optimizeLegibility
	text-rendering geometricPrecision
	font-smooth always
	font-smoothing antialiased
	-moz-font-smoothing antialiased
	-webkit-font-smoothing antialiased
	-webkit-font-smoothing subpixel-antialiased
	-moz-osx-font-smoothing grayscale

a
	&:link, &:visited, &:hover, &:visited:hover, &:focus
		text-decoration none

@import "imports/typography"
@import "imports/variables"
@import "imports/welcome"