#alumni

    h2
        font-size 25px
    
    span.position
        text-transform uppercase
        font-weight bold
        color #555
        font-size 15px

    span.name
        padding-left 10px
        color #222