#contact

	a
		&.email, &.phone
			margin 8px 0
			border none !important
			white-space nowrap

		&.email
			display table

		&.phone
			margin-left 10px
	
	form
		width 100%

		h3
			font-weight 100
			padding-bottom 10px
			color #ccc
		
		input, textarea
			width 100%
			border 1px solid #666
			background #0003
			color #eee
			font-family Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
			padding 10px
			font-size 17px
			outline none
			font-weight 100
			margin-bottom 30px
			border-radius 0
			-webkit-appearance none
		
		textarea
			max-width 100%
			min-width 100%
		
		input[type="submit"]
			width auto
			padding 10px 20px
			margin 0
			text-transform uppercase
			cursor pointer
			color #ccc
			transition 0.2s all linear

			&:hover
				border-color orange
				color orange